.section {
    /* width: 800px; */
    -webkit-region-break-inside: avoid !important;
    /* -webkit-region-break-after: always !important; */
    page-break-inside: avoid;
    /* page-break-after: always; */
    margin:0;
    padding:0;
    top:0;
    background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important;
}
.receipt {
  margin: 20px;
  width: 17cm;
  font-family: Arial;
}
.header {
  font-size: 24pt;
  margin-bottom: 36pt;
}
.receipt > div {
  display: flex;
  margin-bottom: 24pt;
  font-size: 12pt;
}

.left {
  flex: 0 0 6cm;
}

.right {
  flex: 1 1 11cm;
}

@page {
  size: 21cm 29.7cm;
  margin: 20mm 30mm 20mm 30mm;
}
