.root {
}

.superheader {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   margin-bottom: 1em;
}

.superheader > * {
   flex: 1;
   margin-right: 1%;
}

.searchflex {
  flex: 2.5;
}
